
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/CMakeFiles/projetv1.dir/main.c.obj

cmake-build-debug/CMakeFiles/projetv1.dir/column.c.obj
cmake-build-debug/projetv1.exe
cmake-build-debug/Testing/Temporary/LastTest.log
